In [14]:
# Data manipulation libraries
import pandas as pd
import numpy as np

# Machine learning libraries
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import TimeSeriesSplit
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

# Technical indicator library
#import talib as ta

# Data import library
import yfinance as yf

#Data visualisation
import plotly.graph_objs as go

In [15]:
df = yf.download('TSLA',period = '1d', interval = '1m')
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-12-23 09:30:00-05:00,1006.799988,1007.679993,1001.402527,1002.640015,1002.640015,1264304
2021-12-23 09:31:00-05:00,1001.359985,1006.799927,1000.849976,1005.869995,1005.869995,166920
2021-12-23 09:32:00-05:00,1005.390015,1012.000000,1005.000000,1011.489990,1011.489990,242401
2021-12-23 09:33:00-05:00,1011.739990,1014.000000,1008.190125,1009.614319,1009.614319,178317
2021-12-23 09:34:00-05:00,1009.900024,1014.489990,1009.010010,1012.312622,1012.312622,150139
...,...,...,...,...,...,...
2021-12-23 15:55:00-05:00,1068.469971,1068.699951,1067.069946,1067.439941,1067.439941,134638
2021-12-23 15:56:00-05:00,1067.510010,1068.780029,1067.270020,1068.325684,1068.325684,124585
2021-12-23 15:57:00-05:00,1068.469971,1069.000000,1067.939941,1068.709961,1068.709961,153851
2021-12-23 15:58:00-05:00,1068.630005,1068.879883,1067.520142,1067.530029,1067.530029,115792
2021-12-23 15:59:00-05:00,1067.540039,1068.199951,1066.790039,1067.459961,1067.459961,228827

#### Prepare

In [16]:
# Drop the rows with zero volume traded
df = df.drop(df[df['Volume'] == 0].index)

In [ ]:
# Create a variable n with a value of 10
n = 10
# Create a column by name, RSI and assign the calculation of RSI to it
df['RSI'] = ta.RSI(np.array(df['Close'].shift(1)), timeperiod=n)
df