In [1]:
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

In [2]:
import requests
response = requests.get('https://api.coingecko.com/api/v3/ping')
print(response)

<Response [200]>

In [3]:
response.text

'{"gecko_says":"(V3) To the Moon!"}'

In [4]:
url = 'https://api.coingecko.com/api/v3/ping'
response = requests.get(url)
print(response.text)

{"gecko_says":"(V3) To the Moon!"}

In [5]:
data = response.json()
print(type(data))
data

<class 'dict'>

{'gecko_says': '(V3) To the Moon!'}

In [6]:
base_url = 'https://api.coingecko.com/api/v3'

response = requests.get(base_url + 'coins/list')
print(response.json())

{'error': 'Incorrect path. Please check https://www.coingecko.com/api/'}

In [7]:
response = requests.get('https://api.coingecko.com/api/v3/coins/list')

data = response.json()
data[3]

{'id': '0-5x-long-balancer-token',
 'symbol': 'balhalf',
 'name': '0.5X Long Balancer Token'}

In [8]:
crv_response = requests.get('https://api.coingecko.com/api/v3/coins/curve-dao-token/market_chart?vs_currency=usd&days=180&interval=daily')

crv_data = crv_response.json()

df = pd.DataFrame(crv_data['prices'])

In [9]:
# Available methods
dir(data)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [12]:
# keys in this api command
for key in data:
    print(key)

TypeError: unhashable type: 'slice'

In [13]:
crv_data['prices']

[[1626566400000, 1.4289988006646355],
 [1626652800000, 1.4257863099645964],
 [1626739200000, 1.359197427480674],
 [1626825600000, 1.2907657523526619],
 [1626912000000, 1.4464338211634014],
 [1626998400000, 1.5464237411922148],
 [1627084800000, 1.6038032400115623],
 [1627171200000, 1.5474118843901532],
 [1627257600000, 1.535160930223071],
 [1627344000000, 1.5248791936810604],
 [1627430400000, 1.5605760463430276],
 [1627516800000, 1.536386993307792],
 [1627603200000, 1.6163782825307287],
 [1627689600000, 1.7048438015386598],
 [1627776000000, 1.7155805341603707],
 [1627862400000, 1.6612036075082206],
 [1627948800000, 1.6294791964710653],
 [1628035200000, 1.57268812665721],
 [1628121600000, 1.626435857636382],
 [1628208000000, 1.7784921558210236],
 [1628294400000, 1.9350819057539346],
 [1628380800000, 1.904746475243399],
 [1628467200000, 1.753848995263678],
 [1628553600000, 1.873131790404319],
 [1628640000000, 2.0421273831748166],
 [1628726400000, 2.0453619597483796],
 [1628812800000, 2.030360312785683],
 [1628899200000, 2.3572533967775855],
 [1628985600000, 2.2632765439617026],
 [1629072000000, 2.2161762440161916],
 [1629158400000, 2.125156099412408],
 [1629244800000, 1.915574064932589],
 [1629331200000, 1.9365988529846334],
 [1629417600000, 2.13089701738162],
 [1629504000000, 2.2785482108375823],
 [1629590400000, 2.2205528657992044],
 [1629676800000, 2.4347468082703916],
 [1629763200000, 2.3586470571161886],
 [1629849600000, 2.1104370901221357],
 [1629936000000, 2.2064535989077183],
 [1630022400000, 2.086210554263465],
 [1630108800000, 2.173651759408612],
 [1630195200000, 2.0948096274922365],
 [1630281600000, 2.115067498419093],
 [1630368000000, 2.112076411213847],
 [1630454400000, 2.241805809365802],
 [1630540800000, 2.293012334158587],
 [1630627200000, 2.2106370424505064],
 [1630713600000, 2.204881867445059],
 [1630800000000, 2.272395007196268],
 [1630886400000, 2.4710054427840777],
 [1630972800000, 2.4960759013903178],
 [1631059200000, 1.9939320195911898],
 [1631145600000, 1.9860351013082655],
 [1631232000000, 2.384870380473508],
 [1631318400000, 2.1361457219340645],
 [1631404800000, 2.266598351203185],
 [1631491200000, 2.418259875803256],
 [1631577600000, 2.3708153252621598],
 [1631664000000, 2.798276171497405],
 [1631750400000, 3.0307924177715573],
 [1631836800000, 3.10784641620258],
 [1631923200000, 2.8083658423235414],
 [1632009600000, 2.880569174999629],
 [1632096000000, 3.0514726091882447],
 [1632182400000, 2.415299261539368],
 [1632268800000, 2.1719505152268934],
 [1632355200000, 2.4449534520640275],
 [1632441600000, 2.7885758281349435],
 [1632528000000, 2.4180410073983167],
 [1632614400000, 2.3195828069248803],
 [1632700800000, 2.549920922797863],
 [1632787200000, 2.369778937690775],
 [1632873600000, 2.2468331295640676],
 [1632960000000, 2.2861691143501517],
 [1633046400000, 2.3328415918163317],
 [1633132800000, 2.531656260512092],
 [1633219200000, 2.5510689388518726],
 [1633305600000, 2.8259360238031013],
 [1633392000000, 2.8731394385145195],
 [1633478400000, 2.9300800547339048],
 [1633564800000, 2.739501881708171],
 [1633651200000, 2.8096541831494526],
 [1633737600000, 2.936122989546317],
 [1633824000000, 2.907411273471735],
 [1633910400000, 2.6952112940726165],
 [1633996800000, 2.69664554858999],
 [1634083200000, 2.685405823292987],
 [1634169600000, 2.9732405283948813],
 [1634256000000, 2.879568383292333],
 [1634342400000, 2.9116017568603905],
 [1634428800000, 2.9195866351564357],
 [1634515200000, 2.8756128081661543],
 [1634601600000, 2.7942877672196116],
 [1634688000000, 2.804769629938908],
 [1634774400000, 2.9157491283159933],
 [1634860800000, 2.86771347008953],
 [1634947200000, 3.3586719212407083],
 [1635033600000, 3.675747231648444],
 [1635120000000, 3.508488980721781],
 [1635206400000, 4.800187506861466],
 [1635292800000, 4.613707801164325],
 [1635379200000, 4.468477326538588],
 [1635465600000, 4.760857596612239],
 [1635552000000, 4.648196385112868],
 [1635638400000, 4.724010530072762],
 [1635724800000, 4.4273719931922795],
 [1635811200000, 4.483182232752803],
 [1635897600000, 4.295624131994041],
 [1635984000000, 4.395820946871317],
 [1636070400000, 4.178022365397353],
 [1636156800000, 4.094612050147627],
 [1636243200000, 4.118514513373471],
 [1636329600000, 4.502589605253544],
 [1636416000000, 4.644378805430148],
 [1636502400000, 4.525629706555313],
 [1636588800000, 4.096114065724781],
 [1636675200000, 4.193057357737866],
 [1636761600000, 4.037082899795533],
 [1636848000000, 4.26564489019832],
 [1636934400000, 4.1470344490869255],
 [1637020800000, 3.953965152732889],
 [1637107200000, 3.7249473838177263],
 [1637193600000, 4.053855173668285],
 [1637280000000, 4.084244885620274],
 [1637366400000, 3.967794434232333],
 [1637452800000, 3.9581763660693268],
 [1637539200000, 3.8427878522029304],
 [1637625600000, 4.19355617896464],
 [1637712000000, 5.070862389546349],
 [1637798400000, 5.831654133754128],
 [1637884800000, 5.878545786454413],
 [1637971200000, 4.925429824162138],
 [1638057600000, 4.805469601206636],
 [1638144000000, 4.854866859027279],
 [1638230400000, 4.693383126734287],
 [1638316800000, 4.89770431037788],
 [1638403200000, 4.986968603617],
 [1638489600000, 4.762066729643079],
 [1638576000000, 4.382105364005297],
 [1638662400000, 3.7303110260073162],
 [1638748800000, 3.5852897694482717],
 [1638835200000, 3.7205839770918554],
 [1638921600000, 4.157053230612734],
 [1639008000000, 4.1797943188575655],
 [1639094400000, 3.6814330856492687],
 [1639180800000, 3.3522944495909113],
 [1639267200000, 3.736630290787346],
 [1639353600000, 3.8293466858325096],
 [1639440000000, 3.3372481501743874],
 [1639526400000, 3.409673196635518],
 [1639612800000, 3.7259116766157208],
 [1639699200000, 3.8563986086621824],
 [1639785600000, 4.287966485230076],
 [1639872000000, 4.518906618628102],
 [1639958400000, 4.162546190483461],
 [1640044800000, 4.143311688181949],
 [1640131200000, 4.62733572554229],
 [1640217600000, 5.036273133565019],
 [1640304000000, 5.202211279261392],
 [1640390400000, 5.176936268331683],
 [1640476800000, 5.860372462046721],
 [1640563200000, 5.737855108260994],
 [1640649600000, 5.311078093759706],
 [1640736000000, 4.759386922257731],
 [1640822400000, 4.84847873462571],
 [1640908800000, 5.123163301306018],
 [1640995200000, 5.353084874735329],
 [1641081600000, 6.247776160915043],
 [1641168000000, 6.033903697748287],
 [1641254400000, 6.50803237628018],
 [1641340800000, 6.1267682035350175],
 [1641427200000, 5.440881679057477],
 [1641513600000, 5.404507514672706],
 [1641600000000, 5.010247205982178],
 [1641686400000, 4.605927983902252],
 [1641772800000, 4.533528880663773],
 [1641859200000, 4.30361557516678],
 [1641945600000, 4.609658212908035],
 [1642032000000, 4.903553957563891],
 [1642051888000, 4.828535317771526]]

In [16]:
df = pd.DataFrame(crv_data['prices'])
df

                 0         1
0    1626566400000  1.428999
1    1626652800000  1.425786
2    1626739200000  1.359197
3    1626825600000  1.290766
4    1626912000000  1.446434
..             ...       ...
176  1641772800000  4.533529
177  1641859200000  4.303616
178  1641945600000  4.609658
179  1642032000000  4.903554
180  1642051888000  4.828535

[181 rows x 2 columns]

In [29]:
len(df)

181

In [20]:
df = df.set_index(0)

In [22]:
df['Price'] = df[1]

In [24]:
df.drop(columns=(1))

                  Price
0
1626566400000  1.428999
1626652800000  1.425786
1626739200000  1.359197
1626825600000  1.290766
1626912000000  1.446434
...                 ...
1641772800000  4.533529
1641859200000  4.303616
1641945600000  4.609658
1642032000000  4.903554
1642051888000  4.828535

[181 rows x 1 columns]

In [26]:
df.index.to_datetime()

AttributeError: 'Int64Index' object has no attribute 'to_datetime'

In [27]:
df.index = pd.to_datetime(df.index)

In [31]:
df

                                   1     Price
0
1970-01-01 00:27:06.566400  1.428999  1.428999
1970-01-01 00:27:06.652800  1.425786  1.425786
1970-01-01 00:27:06.739200  1.359197  1.359197
1970-01-01 00:27:06.825600  1.290766  1.290766
1970-01-01 00:27:06.912000  1.446434  1.446434
...                              ...       ...
1970-01-01 00:27:21.772800  4.533529  4.533529
1970-01-01 00:27:21.859200  4.303616  4.303616
1970-01-01 00:27:21.945600  4.609658  4.609658
1970-01-01 00:27:22.032000  4.903554  4.903554
1970-01-01 00:27:22.051888  4.828535  4.828535

[181 rows x 2 columns]

In [35]:
df.drop(columns=1)

                               Price
0
1970-01-01 00:27:06.566400  1.428999
1970-01-01 00:27:06.652800  1.425786
1970-01-01 00:27:06.739200  1.359197
1970-01-01 00:27:06.825600  1.290766
1970-01-01 00:27:06.912000  1.446434
...                              ...
1970-01-01 00:27:21.772800  4.533529
1970-01-01 00:27:21.859200  4.303616
1970-01-01 00:27:21.945600  4.609658
1970-01-01 00:27:22.032000  4.903554
1970-01-01 00:27:22.051888  4.828535

[181 rows x 1 columns]