In [15]:
# Data manipulation libraries
import pandas as pd
import numpy as np

# Machine learning libraries
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import TimeSeriesSplit
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

# Technical indicator library
#import talib as ta

# Data import library
import yfinance as yf

#Data visualisation
import plotly.graph_objs as go

#Data Source
import tradingeconomics as te

In [10]:
# Gather last 22yrs of data
SPY = yf.download('SPY', period = '50y', interval = '1wk')
NSD = yf.download('SPY', period = '50y', interval = '1wk')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [13]:
# Data does not go back far enough
SPY.head()

                Open      High       Low     Close  Adj Close     Volume
Date
1993-01-25  43.96875  43.96875  43.75000  43.93750  25.627352  1003200.0
1993-02-01  43.96875  45.09375  43.96875  44.96875  26.228857  2234800.0
1993-02-08  44.96875  45.12500  44.53125  44.59375  26.010120  1159800.0
1993-02-15  44.46875  44.46875  42.81250  43.56250  25.408617   998700.0
1993-02-22  43.68750  44.43750  43.46875  44.40625  25.900763  1024300.0

In [16]:
# temp login to tradingeconomics
te.login()

'You are logged in as a guest:guest'