In [13]:
import pandas as pd
from datetime import datetime
import matplotlib as mb
import seaborn as sns

## Data Exploration

In [10]:
# Load .csv data
data = pd.read_csv("TX_trades_2012-2014.csv")
data.head(2)

,Trade Dt,Settl Dt,B/S,Exec Time,CUSIP,Qty,Description,Rate,Var,Mat Dt,St,Price,Yield,Net,YTM
0,10/7/2014,10/10/2014,B,12:36:15,00344NBK9,25,ABILENE TEX CTFS OBLIG DTC ELIGIBLE,5.0,NaN,2/15/2022,TX,112.10,1.294,"28,215.97",3.142
1,10/21/2014,10/24/2014,S,9:52:58,00344NBK9,25,ABILENE TEX CTFS OBLIG DTC ELIGIBLE,5.0,NaN,2/15/2022,TX,112.85,1.038,"28,452.08",3.026

In [11]:
data.describe()

                Qty          Rate         Price         Yield           YTM
count  22194.000000  22194.000000  22194.000000  22194.000000  22187.000000
mean      68.160088      4.604446    109.403779      2.505974      2.440408
std      128.122346      0.718508      6.752649      1.008119      1.838144
min        5.000000      0.000000     34.700000      0.000000      0.000000
25%       25.000000      4.000000    104.837750      1.754250      0.000000
50%       40.000000      5.000000    109.911500      2.526000      3.208000
75%       70.000000      5.000000    114.400000      3.257000      3.960000
max     2470.000000      6.880000    129.750000      6.840000      6.237000

***
Notes: 
* YTM count off from other features
* min rate, yield, YTM needs attention
* Qty skewed to lower range with 75% falling under 70, check for outliers
* Rate/Yield/YTM data also showing some potential outliers
***

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22194 entries, 0 to 22193
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Trade Dt     22194 non-null  object
 1   Settl Dt     22194 non-null  object
 2   B/S          22194 non-null  object
 3   Exec Time    22194 non-null  object
 4   CUSIP        22194 non-null  object
 5   Qty          22194 non-null  int64
 6   Description  22194 non-null  object
 7   Rate         22194 non-null  float64
 8   Var          4 non-null      object
 9   Mat Dt       22194 non-null  object
 10  St           22194 non-null  object
 11  Price        22194 non-null  float64
 12  Yield        22194 non-null  float64
 13  Net          22194 non-null  object
 14  YTM          22187 non-null  float64
dtypes: float64(4), int64(1), object(10)
memory usage: 2.5+ MB

In [21]:
data.isnull().sum()

Trade Dt           0
Settl Dt           0
B/S                0
Exec Time          0
CUSIP              0
Qty                0
Description        0
Rate               0
Var            22190
Mat Dt             0
St                 0
Price              0
Yield              0
Net                0
YTM                7
dtype: int64

In [30]:
data[data['YTM'].isnull()]

Empty DataFrame
Columns: [Trade Dt, Settl Dt, B/S, Exec Time, CUSIP, Qty, Description, Rate, Var, Mat Dt, St, Price, Yield, Net, YTM, Dtype]
Index: []