In [1]:
import pandas as pd

In [4]:
dates = pd.date_range('04/07/2022', periods=30)
df = pd.DataFrame(columns=['Trading', 'Hold', '3X', 'staked', 'Total'], index=dates)

In [5]:
df

           Trading Hold   3X staked Total
2022-04-07     NaN  NaN  NaN    NaN   NaN
2022-04-08     NaN  NaN  NaN    NaN   NaN
2022-04-09     NaN  NaN  NaN    NaN   NaN
2022-04-10     NaN  NaN  NaN    NaN   NaN
2022-04-11     NaN  NaN  NaN    NaN   NaN
2022-04-12     NaN  NaN  NaN    NaN   NaN
2022-04-13     NaN  NaN  NaN    NaN   NaN
2022-04-14     NaN  NaN  NaN    NaN   NaN
2022-04-15     NaN  NaN  NaN    NaN   NaN
2022-04-16     NaN  NaN  NaN    NaN   NaN
2022-04-17     NaN  NaN  NaN    NaN   NaN
2022-04-18     NaN  NaN  NaN    NaN   NaN
2022-04-19     NaN  NaN  NaN    NaN   NaN
2022-04-20     NaN  NaN  NaN    NaN   NaN
2022-04-21     NaN  NaN  NaN    NaN   NaN
2022-04-22     NaN  NaN  NaN    NaN   NaN
2022-04-23     NaN  NaN  NaN    NaN   NaN
2022-04-24     NaN  NaN  NaN    NaN   NaN
2022-04-25     NaN  NaN  NaN    NaN   NaN
2022-04-26     NaN  NaN  NaN    NaN   NaN
2022-04-27     NaN  NaN  NaN    NaN   NaN
2022-04-28     NaN  NaN  NaN    NaN   NaN
2022-04-29     NaN  NaN  NaN    NaN   NaN
2022-04-30     NaN  NaN  NaN    NaN   NaN
2022-05-01     NaN  NaN  NaN    NaN   NaN
2022-05-02     NaN  NaN  NaN    NaN   NaN
2022-05-03     NaN  NaN  NaN    NaN   NaN
2022-05-04     NaN  NaN  NaN    NaN   NaN
2022-05-05     NaN  NaN  NaN    NaN   NaN
2022-05-06     NaN  NaN  NaN    NaN   NaN