In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

### Acquire

In [11]:
# read in csv
trades = pd.read_csv('TX_trades_2012-2014.csv')

In [12]:
trades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22194 entries, 0 to 22193
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Trade Dt     22194 non-null  object
 1   Settl Dt     22194 non-null  object
 2   B/S          22194 non-null  object
 3   Exec Time    22194 non-null  object
 4   CUSIP        22194 non-null  object
 5   Qty          22194 non-null  int64
 6   Description  22194 non-null  object
 7   Rate         22194 non-null  float64
 8   Var          4 non-null      object
 9   Mat Dt       22194 non-null  object
 10  St           22194 non-null  object
 11  Price        22194 non-null  float64
 12  Yield        22194 non-null  float64
 13  Net          22194 non-null  object
 14  YTM          22187 non-null  float64
dtypes: float64(4), int64(1), object(10)
memory usage: 2.5+ MB

In [13]:
trades.describe()

                Qty          Rate         Price         Yield           YTM
count  22194.000000  22194.000000  22194.000000  22194.000000  22187.000000
mean      68.160088      4.604446    109.403779      2.505974      2.440408
std      128.122346      0.718508      6.752649      1.008119      1.838144
min        5.000000      0.000000     34.700000      0.000000      0.000000
25%       25.000000      4.000000    104.837750      1.754250      0.000000
50%       40.000000      5.000000    109.911500      2.526000      3.208000
75%       70.000000      5.000000    114.400000      3.257000      3.960000
max     2470.000000      6.880000    129.750000      6.840000      6.237000

In [14]:
trades.isna().sum()

Trade Dt           0
Settl Dt           0
B/S                0
Exec Time          0
CUSIP              0
Qty                0
Description        0
Rate               0
Var            22190
Mat Dt             0
St                 0
Price              0
Yield              0
Net                0
YTM                7
dtype: int64

### Prepare

In [2]:
trades

,Trade Dt,Settl Dt,B/S,Exec Time,CUSIP,Qty,Description,Rate,Var,Mat Dt,St,Price,Yield,Net,YTM
0,10/7/2014,10/10/2014,B,12:36:15,00344NBK9,25,ABILENE TEX CTFS OBLIG DTC ELIGIBLE,5.0,NaN,2/15/2022,TX,112.100,1.294,"28,215.97",3.142
1,10/21/2014,10/24/2014,S,9:52:58,00344NBK9,25,ABILENE TEX CTFS OBLIG DTC ELIGIBLE,5.0,NaN,2/15/2022,TX,112.850,1.038,"28,452.08",3.026
2,6/25/2012,6/28/2012,S,9:43:05,00344NCB8,260,ABILENE TEX CTFS OBLIG-SER A DTC,5.0,NaN,2/15/2023,TX,114.975,2.161,"303,737.78",3.316
3,6/5/2012,6/8/2012,B,15:05:58,00344NCB8,260,ABILENE TEX CTFS OBLIG-SER A DTC,5.0,NaN,2/15/2023,TX,114.777,2.219,"302,500.76",3.344
4,4/17/2014,4/23/2014,S,10:00:36,00344NFD1,15,ABILENE TEX RFDG DTC ELIGIBLE -B/E,4.0,NaN,2/15/2021,TX,110.140,2.135,"16,634.33",2.378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22189,10/16/2014,10/21/2014,B,12:37:36,845267VK6,110,S W TX INDEP SCH DIST REF-SCH SCH,5.0,NaN,2/1/2021,TX,120.790,1.515,"134,335.67",0.000
22190,10/16/2014,10/21/2014,S,12:37:36,845267VK6,75,S W TX INDEP SCH DIST REF-SCH SCH,5.0,NaN,2/1/2021,TX,120.790,1.515,"91,592.50",0.000
22191,10/16/2014,10/21/2014,S,12:37:36,845267VK6,35,S W TX INDEP SCH DIST REF-SCH SCH,5.0,NaN,2/1/2021,TX,120.790,1.515,"42,743.17",0.000
22192,11/3/2014,11/6/2014,S,11:00:44,845267VK6,100,S W TX INDEP SCH DIST REF-SCH SCH,5.0,NaN,2/1/2021,TX,119.960,1.621,"121,501.67",0.000
22193,11/21/2014,11/26/2014,S,11:03:36,845267VK6,10,S W TX INDEP SCH DIST REF-SCH SCH,5.0,NaN,2/1/2021,TX,117.442,1.987,"11,926.14",0.000

In [16]:
# drop nas
trades = trades.drop(columns=('Var'))

In [17]:
trades

,Trade Dt,Settl Dt,B/S,Exec Time,CUSIP,Qty,Description,Rate,Mat Dt,St,Price,Yield,Net,YTM
0,10/7/2014,10/10/2014,B,12:36:15,00344NBK9,25,ABILENE TEX CTFS OBLIG DTC ELIGIBLE,5.0,2/15/2022,TX,112.100,1.294,"28,215.97",3.142
1,10/21/2014,10/24/2014,S,9:52:58,00344NBK9,25,ABILENE TEX CTFS OBLIG DTC ELIGIBLE,5.0,2/15/2022,TX,112.850,1.038,"28,452.08",3.026
2,6/25/2012,6/28/2012,S,9:43:05,00344NCB8,260,ABILENE TEX CTFS OBLIG-SER A DTC,5.0,2/15/2023,TX,114.975,2.161,"303,737.78",3.316
3,6/5/2012,6/8/2012,B,15:05:58,00344NCB8,260,ABILENE TEX CTFS OBLIG-SER A DTC,5.0,2/15/2023,TX,114.777,2.219,"302,500.76",3.344
4,4/17/2014,4/23/2014,S,10:00:36,00344NFD1,15,ABILENE TEX RFDG DTC ELIGIBLE -B/E,4.0,2/15/2021,TX,110.140,2.135,"16,634.33",2.378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22189,10/16/2014,10/21/2014,B,12:37:36,845267VK6,110,S W TX INDEP SCH DIST REF-SCH SCH,5.0,2/1/2021,TX,120.790,1.515,"134,335.67",0.000
22190,10/16/2014,10/21/2014,S,12:37:36,845267VK6,75,S W TX INDEP SCH DIST REF-SCH SCH,5.0,2/1/2021,TX,120.790,1.515,"91,592.50",0.000
22191,10/16/2014,10/21/2014,S,12:37:36,845267VK6,35,S W TX INDEP SCH DIST REF-SCH SCH,5.0,2/1/2021,TX,120.790,1.515,"42,743.17",0.000
22192,11/3/2014,11/6/2014,S,11:00:44,845267VK6,100,S W TX INDEP SCH DIST REF-SCH SCH,5.0,2/1/2021,TX,119.960,1.621,"121,501.67",0.000
22193,11/21/2014,11/26/2014,S,11:03:36,845267VK6,10,S W TX INDEP SCH DIST REF-SCH SCH,5.0,2/1/2021,TX,117.442,1.987,"11,926.14",0.000

In [18]:
# convert dates to datetime
trades[['Trade Dt', 'Settl Dt', 'Mat Dt']] = pd.to_datetime(['Trade Dt', 'Settl Dt', 'Mat Dt'])

ParserError: Unknown string format: Trade Dt